*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: #0082e6;
    height: 60px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 60px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 3px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 3px 6px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

#abcd{
    width: 100%;
}

#img{
    overflow: hidden;
}

.white-text{
    color :white;
}

.box{
    border-color: brown;
    border-width: 5px;
    border-style: groove;
    border-radius: 10%;
}

.contact-box{
    background-color: rgb(247, 227, 252);
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 20px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 68vh;
        background: hsl(210, 29%, 24%);
        opacity: 98%;
        top: 255px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
    display: block;
    margin: 32px 0;
    line-height: 30px;
    }

    nav ul li a{
    font-size: 20px;
    }

    a:hover,a.active{
    background: none;
    color: #0082e6;
    }

    #check:checked ~ ul{
    left: 0;
    }
}
